<div id="add-form-container" class="container">
        <div class="row">
            <div id="form-box" class="col-md-12">
                <h2>Cadastrar Categoria</h2>
                <form action="/cadastro/categoria", method="post">
                    <div class="form-group">
                        <label for="nome">Nome da categoria:</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome da categoria" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar Categoria</button>
                </form>
            </div>
        </div>
    </div>